* {
    background-color: #1a2125;
}

#header {
    color: #64aaf7;
    position: fixed;
    font-family: Verdana;
    font-size: 40px;
}

div {
    display: inline-block;
}

#reddit {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #ff4500;
    border-radius: 25%;
}

#facebook {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #3b5998;
    border-radius: 25%;
}

#ccri {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #033503;
    border-radius: 25%;
}

#acclaris {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #ee143a;
    border-radius: 25%
}

#boa {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #ec3c26;
    border-radius: 25%;
}

#academy {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #101312;
    border-radius: 25%;
}

#camp {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #492c14;
    border-radius: 25%;
}

#git {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #323131;
    border-radius: 25%;
}


#stack {
    height: 300;
    width: 300px;
    margin: auto;
    border: 10px solid #f3791f;
    border-radius: 25%;
}
    
