* {
    background-color: #1a2125;
}

#header {
    color: #64aaf7; 
    display: block;
    font-size: 80px;
    font-family: lobster;
    text-align: center;
    text-shadow: 2px 2px #e6f1f6;
    text-decoration: underline;
}

div {
    display: inline-block;
    margin-top: 10px;
    margin-left: 60px;
}

#reddit {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #ff4500;
    border-radius: 25%;
    opacity: 0.5;
}

#facebook {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #3b5998;
    border-radius: 25%;
    opacity: 0.5;
}

#ccri {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #033503;
    border-radius: 25%;
    float: right;
    opacity: 0.5;
}

#acclaris {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #ee143a;
    border-radius: 25%;
    opacity: 0.5;
}

#boa {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #ec3c26;
    border-radius: 25%;
    opacity: 0.5;
}

#academy {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #101312;
    border-radius: 25%;
    opacity: 0.5;
}

#camp {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #492c14;
    border-radius: 25%;
    float: right;
    opacity: 0.5;
}

#git {
    height: 300px;
    width: 300px;
    margin: auto;
    border: 10px solid #323131;
    border-radius: 25%;
    opacity: 0.5;
}


#stack {
    height: 300;
    width: 300px;
    margin: auto;
    border: 10px solid #f3791f;
    border-radius: 25%;
    float: right;
    opacity: 0.5;
}
    
